.latest-news-box-container {
  display: flex;
  flex-direction: column;
  gap: 8px !important;
}

.latest-news-title {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: var(--head-font, Arial, sans-serif);
}

.latest-news-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-card {
    display: flex;
    background-color: #fff;
    padding: 8px;
    /* margin-bottom: 20px; */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-card:hover {
    transform: scale(1.001);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.news-card.desktop {
    width: 100% !important;
}

.news-card.mobile {
  width: 100%;
  flex-direction: row;
}

.news-image {
  width: 100px;
  flex-shrink: 0;
  /* border: 1px solid black; */
  
  /* padding: 8px ; */
  height: 100px;
}

.news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.news-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.news-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  background-color: var(--main-color-shade, #007BFF);
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.news-subhead {
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  font-family: var(--head-font);
}

.news-subhead:hover {
  text-decoration: underline;
}

/* Skeleton styles */
.skeleton-image {
  width: 100px;
  height: 100px;
  background: #e0e0e0;
  border-radius: 6px;
  animation: skeletonPulse 1.5s infinite linear;
}

.skeleton-line {
  height: 15px;
  width: 80%;
  background: #e0e0e0;
  margin-bottom: 6px;
  border-radius: 6px;
  animation: skeletonPulse 1.5s infinite linear;
}

.skeleton-line.title {
  width: 60%;
  height: 18px;
}


.apply-button{
  font-size: 14px;
  font-weight: 600;
  padding: 4px 12px;
  border: 1px solid var(--main-color-shade);
  color: var(--main-color-shade);
  width: 100px;
  border-radius: 12px;
  margin-top: 10px;
}
.apply-button:hover{
  font-size: 14px;
  font-weight: 600;
  padding: 4px 12px;
  border: none;
  background: var(--main-color-shade);
  width: 100px;
  color: white;
  border-radius: 12px;
  margin-top: 10px;
}

@keyframes skeletonPulse {
  0% { background-color: #e0e0e0; }
  50% { background-color: #f0f0f0; }
  100% { background-color: #e0e0e0; }
}

@media (max-width: 1280px) {
    .news-card{
        width: 330px !important;
        
    }
    .news-title{
        text-wrap: wrap !important;
    }
    .news-subhead{
        text-wrap: wrap !important;
    }
    .latest-news-box-container{
        gap: 4px;
    }
}

@media (max-width: 378px) {
    .news-content {
        padding: 0px 8px !important;
    }
    .news-card{
        padding: 8px 8px;
        max-width: 318px !important;
    }
}