@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@452&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap');


.application-form{
    background: #ece9e9;
    padding:80px 120px;
    font-family: "Poppins", sans-serif;
}

.signin-container .signin-form h1{
    font-weight: 600;
}
.signin-container .signin-form h2{
    /* font-weight: 600; */
    color: #004924;
}
.signin-container .signin-form .login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .login h2{
    margin-bottom: 40px;
} */

.signin-container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
}

.signin-container .signin-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    gap: 25px;
}
.signin-container .signin-form form{
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    gap: 10px;
    width: 80%;
}
.signin-container .signin-form form .input-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left !important;
    width: 100%;
}
.signin-container .signin-form form label{
    color: #004924;
    font-weight: 700;
}
.signin-container .signin-form form input{
    border: 2px solid #004924;
    font-weight: 600;
    border-radius: 8px;
    height: 40px;
    padding: 0px 10px;
    width: 100%;
}
.signin-container .signin-form form .checkbox-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signin-container .signin-form form .checkbox-container .check{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #77749B;
}
.signin-container .signin-form form .checkbox-container .forget-password{
    font-size: 14px;
    text-decoration: none;
    color: #004924;
}

.signin-container .signin-form form .login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.signin-container .signin-form form .login-button button{
    background: #004924;
    border-radius: 20px;
    padding: 14px 40px;
    font-size: 1rem;
    font-weight: 550;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
}
.signin-container .signin-form form .login-button a{
    text-decoration: none;
    font-size: 14px;
    color: #004924;
    font-weight: 600;
}


.signin-illustration{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-illustration img{
    width: 400px;
}
.errorP{
    font-size: 14px;
    color: red;
    width: 100%;
    /* text-align: center; */
}